<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Estadisticas generales</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Status de empleados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Se mostraran los empleados que se encuentran laborando actualmente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos mas vendidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Se mostraran los 3 productos mas vendidos
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Top mejores clientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Se mostraran los clientes mas recurrentes
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>PENDIENTE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>



</ion-content>
