<ion-header>
  <ion-toolbar>
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Comida</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
</ion-footer>

