<ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list *ngIf="length == 0" >
<ion-item >
    <ion-label>Agrega productos al carrito (:</ion-label>
</ion-item>

</ion-list>

<ion-list *ngIf="length > 0" >
<ion-item *ngFor="let p of usuario" >
    <ion-avatar slot="start">
      <img [src]="p.imagenUrl" />
    </ion-avatar>
    <ion-label>{{p.nombre}}</ion-label>
    <ion-label slot="end" >{{p.precio | currency}}</ion-label>
    <ion-icon slot="end" (click)="eliminar(p._id)" name="trash-outline"></ion-icon>
</ion-item>


<ion-card>
  <ion-card-header>
    <ion-card-title>Total:</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    metodos de pago
  </ion-card-content>
</ion-card>
</ion-list>

</ion-content>
