<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Panel de control</ion-card-title>
    </ion-card-header>
    <ion-card-content>
<p style="color: maroon; justify-content: center;">Esta es la pantalla de inicio de tu panel de administracion de tu negocio
Desde aqui podras administrar por completo tu negocio!
</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Se agregara mas informacion ...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>




</ion-content>
