<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Administracion de clientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Desde este apartado puedes modificar ciertas caracteristicas de los clientes,
    asi como ver su historial de compras o lo que poseen en su carrito de compras 
    </ion-card-content>
  </ion-card>


<ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images.unsplash.com/photo-1626291594967-eeb62d702df3" />
        </ion-avatar>
        <ion-label>NombreCliente</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="verCliente()"><ion-icon slot="start" name="add"></ion-icon>Ver</ion-button>
        </ion-buttons>
      </ion-item>
  </ion-list>
</ion-card>








</ion-content>
