<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Administracion de clientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Desde este apartado puedes modificar ciertas caracteristicas de los clientes,
    asi como ver su historial de compras o lo que poseen en su carrito de compras 
    </ion-card-content>
  </ion-card>


<ion-card>
    <ion-list>
      <ion-item *ngFor="let c of clientes">
        <ion-avatar slot="start">
          <img [src]="url.url + c.imgPerfil" />
        </ion-avatar>
        <ion-label>{{c.nombre}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="verCliente()"><ion-icon slot="start" name="add"></ion-icon>Ver</ion-button>
        </ion-buttons>
      </ion-item>
  </ion-list>
</ion-card>









</ion-content>
