<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>


    <ion-title>Crear una cuenta </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formularioRegistro">


    <ion-item>
      <ion-label  position="floating"><span style="color: red;">*</span> E-Mail: </ion-label>
      <ion-input  formControlName="email" placeholder="ejemplo@ejemplo.com" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><span style="color: red;">*</span> Password:</ion-label>
      <ion-input  formControlName="password" type="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"><span style="color: red;">*</span> Nombre(s):</ion-label>
      <ion-input  formControlName="nombre" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"> Apellido(s):</ion-label>
      <ion-input  formControlName="apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad:</ion-label>
      <ion-input  formControlName="edad" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><span style="color: red;">*</span> Telefono:</ion-label>
      <ion-input  formControlName="telefono" type="text">+52 </ion-input>
    </ion-item>

    <ion-item>
      <ion-label><span style="color: red;">*</span> Terminos y condiciones:</ion-label>
      <ion-checkbox color="primary" formControlName="terminosCondiciones" [(ngModel)]="check" ></ion-checkbox>
    </ion-item>





  </form>
  <ion-button color="success" expand="block" (click)="registro()" [disabled]="formularioRegistro.invalid">
    Crear Cuenta   
    <ion-icon name="play-outline"></ion-icon>
  </ion-button>

</ion-content>
